<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-dashboard-filters> </app-dashboard-filters>
<!-- <div style="width:75%;position:absolute; left:15%;bottom:5%"><canvas baseChart 
        [data]="salesData" 
        [type]="'bar'"
        [options]="chartOptions"
      >
      </canvas></div> -->
<router-outlet></router-outlet>
